body{
    background-color: black;
    text-align: center;
}

.underline{
    width: 7%;
    height: 5px;
    background-color: aliceblue;
    margin: auto;
}
h1{
    color: white;
}

img{
    height: 30%;
    margin-right: 20px;
}

img:hover{
    transform: scale(1.1);
    
}
